body {
	position: relative;
}
.back{
	z-index: -999;
	height: 100%;
	width: 100%;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url("../image/back1.jpg");
	background-size: cover;
}

.movebd{
	position: relative;
	margin-left:20%;
	padding:1px 16px;
	height: 100%;
}
.movebd h2
{
	margin:0 0 30px;
	padding:0;
	color: rgb(44, 111, 145);
	text-align:center;
}
.movebd .box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:400px;
	padding: 40px 40px 0px 40px;
	background: rgba(44, 111, 145, 0.09);
	box-sizing:border-box;
	box-shadow:0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;/*登录窗口边角圆滑*/
}
.movebd .box h2
{
	margin:0 0 30px;
	padding:0;
	color:#fff;
	text-align:center;
}
.movebd .box .inputBox
{
	position:relative;
}
.movebd .box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-side:18px;
	letter-spacing: 1px;
	margin-bottom:30px;/*输入框设置*/
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	background:transparent;
}
.movebd .box .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.movebd .box fieldset
{
	border: none;
	margin-bottom: 20px;
	padding: 5px;
}
.movebd .box .inputBox input:focus ~ label,
.movebd .box .inputBox input:valid ~ label
{
	top: -30px;
	left: 0;
	color: #80aaea;
	font-size: 15px;
}
.movebd .box  input[type="submit"]
{
	position: relative;
	border: none;
	outline: none;
	color: #fff;
	background: #9eb7de;
	border: 1px solid #8699b4;
	font-size: 18px;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	bottom: 10px;
}
.movebd .login-error{
	text-align:center;
	margin:500px;
	color: #f60227;
}

.movebd .box .inputBoxfile
{
	position:relative;
	width: 100%;
	height: 220px;
	margin-left: 15px;
}
.movebd .box .inputBoxfile .iconlist {
	margin-right: 50px
}


.movebd .box .inputBoxfile .iconlist	.img {
	opacity: 0;
}

.movebd .box .inputBoxfile .iconlist .imgs {
	border: 1px solid #89a7bb;
	font-size: 18px;
	background: #9eb7de;
	color: white;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	padding: 10px;
}
.box .create
{
	position: relative;
	margin:0 0 30px;
	padding:15px 0 0 0;
	right: 0;
	text-align:right;
	font-size:13px;
	bottom: 0;
}
.box .create
a:link, a:visited {
	position: relative;
	color: #80aaea;
	font-size:13px;
	text-align: right;
	bottom: 0;
}


