body {
    position: relative;
}
.back{
    z-index: -999;
    filter: alpha(opacity=50);
    height: 100%;
    -moz-opacity: 0.5;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../image/indexback.jpg");
    background-size: cover;
}

.movebd{
    position: relative;
    padding:1px 16px;
    margin-left:20%;
}
.movebd table
{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    margin-top:15px;
    color: black;
    text-align: center;
    position: relative;
    border-collapse: collapse;
}
.movebd .queryst {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
    height: 15%;
    width: 86%;
    box-sizing: border-box;
    padding: 0px;
    margin-left: 7%;
}

.movebd td, th {
    border: 1px solid #494d4c;
    padding: 8px;
}

.movebd tr {height: 20px;}

.movebd tr:hover {background-color: rgba(128, 170, 234, 0.36);}

.movebd th {
    height: 15px;
    background-color: #45aeec;
    color: white;
}

.movebd input[type="submit"]
{
    position: relative;
    border: none;
    outline: none;
    color: #fff;
    background: #45aeec;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.movebd .queryst .inputBox
{
    position:relative;
    float: left;
    margin-top: 25px;
}

.movebd .queryst .inputBox input {

    width: 270px;
    height: 40px;
    border-width: 1px;
    margin-left: 90px;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
}
.movebd .queryst .inputBox label
{
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px 0;
    font-size: 18px;
    pointer-events: none;
    transition: .5s;
}
.movebd .queryst .inputBox input:focus ~ label,
.movebd .queryst .inputBox input:valid ~ label
{
    top: 5px;
    left: 0;
    font-size: 18px;
    font-weight: bold;
}
.movebd .queryst  input[type="submit"]
{
    position: relative;
    border: none;
    outline: none;
    color: #fff;
    background: #45aeec;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 40px;
}


