body {
    background-color: white;
    position: relative;
}
.movebd{
    background-color: white;
    position: relative;
    border-style:solid;
    margin-left:20%;
    border-width:5px;
    border-color: #4CAF50;
    padding:1px 16px;
}
.movebd table
{
    width:100%;
    height: 70%;
    border:3px solid green;
    color: black;
    text-align: center;
    position: relative;
}


.movebd .table, td, th
{
    border:3px solid green;
}
.movebd th
{
    background-color:green;
    color:white;
}

.movebd h2
{
    margin:0 0 30px;
    padding:0;
    color:#fff;
    text-align:center;
}

.movebd .box h3{
    padding:0;
    color: #8bb2aa;
}
.movebd input[type="submit"]
{
    border: none;
    outline: none;
    color: #80aaea;
    background: #8bb2aa;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.movebd .queryst
{
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: #4CAF50;
    height: 20%;
    transform: translate(-50%,-50%);
    width:100%;
    padding: 0px;
    background:white;
    box-sizing:border-box;
    border-radius: 10px;/*登录窗口边角圆滑*/
}
.movebd .queryst .inputBox
{
    position:relative;
}
.movebd .queryst .inputBox input
{
    width: 10%;
    padding: 10px 0;
    font-side:16px;
    color: #8bb2aa;
    letter-spacing: 1px;
    margin-bottom:30px;/*输入框设置*/
    border:1px solid #8bb2aa;
    background:transparent;
}
.movebd .queryst .inputBox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #8bb2aa;
    pointer-events: none;
    transition: .5s;
}
.movebd .queryst .inputBox input:focus ~ label,
.movebd .queryst .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #80aaea;
    font-size: 12px;
}
.movebd .queryst  input[type="submit"]
{
    position: relative;
    border: none;
    outline: none;
    color: #fff;
    background: #8bb2aa;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    bottom: 10px;
}

























.movebd .box{
    position: relative;
    width: 25%;
    height: 30%;
    float: left;
    margin-right: 8%;
}

.movebd .wrap
{
    width:70%;
    margin: 0 auto;
}
/**********about-style**********/
.movebd .grid{
    position: relative;
}
.movebd .social {
    position: absolute;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    text-align: center;
    left: 21%;
    top: 22%;
}
.movebd .social ul li{
    float: left;
}
.movebd .social ul{
    background: rgba(27,188,155, 1);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 2px;
}

.movebd .about
{
    width:70%;
    height: 20%;
    left: 20%;
    text-align:center;
    padding: 5em 0em;
    border-style: solid;
    border-color: bisque;
}
.movebd .about h2{
    color:#fff;
    font-size:2em;
    padding-bottom: 0.5em;
}
.movebd .about p{
    color:#fff;
    font-size:1em;
    padding-bottom: 4em;
}
.movebd .about-grids
{
    width:100%;
    margin: 0 auto;
}
.movebd .grid1
{
    width: 25%;
    height: 100%;
    float: left;
    background: url("../image/1.png");
    background-size: cover;
    margin-right: 8%;
}
.movebd .grid2
{
    width: 25%;
    height: 100%;
    float: left;
    background: url("../image/2.png");
    background-size: cover;
    margin-right: 8%;
}
.movebd .dc_zoom_css span.roll_css6:hover {
    opacity: 0.9;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
}
.movebd .dc_zoom_css span.roll_css6 {

    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.movebd .dc_zoom_css span.roll_css6 img:hover {
    opacity:1;
}

.movebd .post-person{
    width:100%;
}
