body{
    margin:0;
    padding: 0;
}

.back{
    z-index: -999;
    height: 100%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../image/indexback.jpg");
    background-size: cover;
}
.box
{
    margin-left:20%;
    padding:1px 16px;
    height:100%;
}
.box  input[type="submit"]
{
    position: absolute;
    border: none;
    outline: none;
    color: #fff;
    background: #AADFFD;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30%;
}
.box h2{
    text-align: center;
    color: black;
    font-size:35px;
    margin:5px;
    padding:0px;
}
.box h1{
    text-align: center;
    color: #2c6f91;
    font-size:50px;
    margin:20px;
    padding:10px;
}
.box h3{
    text-align: center;
    color: black;
    font-size:45px;
    margin:0px;
    padding:0px;
}